<div class="container max-width">
  <div class="card shadow-sm mt-3">
    <div class="card-body">
      <div>
        <h2 class="mt-3 md-3">旅行プラン作成</h2>
        <%= render "form", { group: @group, trip: @trip } %>
      </div>
    </div>
  </div>
</div>
