<div class="container max-width">
  <div>
    <h2 class="mt-3 md-3">マイページ</h2>
    <div class="mb-3">
      <div>メールアドレス</div>
      <div class="form-control"><%= @user.email %></div>
    </div>
    <%= link_to "編集", edit_user_registration_path(@user), class: "btn btn-outline-secondary" %>
  </div>
</div>
