<div class="bg-body-tertiary bg01 p-4 p-md-5">
  <div class="container-fluid p-sm-5">
    <h1 class="display-5 fw-bold">おともたび</h1>
    <p class="col-md-8 fs-4">さあ　旅に出よう</p>
    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-primary btn-lg",data: { "turbo-method": :post } %>
  </div>
</div>

<div class="container marketing">
  <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">グループを作成する</h2>
        <p class="lead">"おともたび"では、素敵な友人とグループを作成し、旅行計画を共有できます</p>
      </div>
      <div class="col-md-5">
      <video src="/videos/top1.mov" width="100%" height="100%" loop autoplay muted></video>
      </div>
    </div>
  <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">旅行計画を作成する</h2>
        <p class="lead">グループを作成したら、旅行計画を立てましょう</p>
      </div>
      <div class="col-md-5 order-md-1">
      <video src="/videos/top2.mov" width="100%" height="100%" loop autoplay muted></video>
      </div>
    </div>
  <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">あなた方の旅行が記録されます</h2>
        <p class="lead">訪れた旅行先に色がついていきます</p>
      </div>
      <div class="col-md-5">
      <video src="/videos/top3.mov" width="100%" height="100%" loop autoplay muted></video>
      </div>
    </div>
  <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">計画を立てることをお手伝いします</h2>
        <p class="lead">車での移動時間を調べることができます</p>
      </div>
      <div class="col-md-5 order-md-1">
      <video src="/videos/top4.mov" width="100%" height="100%" loop autoplay muted></video>
      </div>
    </div>
  <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">まだ訪れたことのない場所へ案内します</h2>
        <p class="lead">まだ行ったことのない行き先を見つけることができます</p>
      </div>
      <div class="col-md-5">
      <video src="/videos/top5.mov" width="100%" height="100%" loop autoplay muted></video>
      </div>
    </div>
  <hr class="featurette-divider">
</div>
