<div class="container pt-3">
  <div class="card lg:card-side bg-base-100 shadow-xl mb-8">
    <div class="card-body">
      <h2 class="card-title">おすすめの旅行先</h2>
      <p><%= html_safe_newline(@recommend.content) %></p>
    </div>
  </div>
  <div class="text-center">

  </div>
</div>
