<h3>承認待ちユーザ一覧</h3>
  <% @permits.each do |permit| %>
    <div>ユーザー名：<%= permit.user.email %></div>
    <%= link_to "加入許可", group_group_users_path(permit.group, permit_id: permit.id, user_id: permit.user.id ), data: { turbo_method: :post } %>
    <%= link_to "却下", group_group_user_path(permit.group, permit), data: { turbo_method: :delete } %>
    <% end %>
      